
/* -khalid alharbi 
  -1762519
 -Section ZT 
 -css File */
body {
  font-size: 11pt;
  font-family: Lucida;

}

h1 {
  background-color: #F0F0F0;
  color: #A4A400;
  font-family: Arial;
  font-size: 22pt;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

img.b{
	width: 180px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p.f{
	font-size: 16px;
	font-family:Lucida;
}

ul {
	
	 list-style-type: circle;
}
p.underline{
	font-size: 15px;
	font-family:Helvetica;
	text-decoration: underline;
	display: inline;
	
	
}
p.bold{
	
	font-weight:bold;
	display: inline;
	
}

p.comment{
	
	display: inline; 

  font-style: italic;
  
}

.p.right{
	margin-right:60px;
	text-align: right;
	
}
